<h1>Tasks#index</h1>
<p>Find me in app/views/tasks/index.html.erb</p>
<%= link_to 'tasks/new', new_task_path %>
<ul>
<% @tasks.each do |task| %>
  <li><%= link_to task.title, task_path(task) %></li>
<% end %>
</ul>
