<h1>letsDAILY</h1>
<p>My progress management system</p>
<div>
  <%= link_to 'Login with Twitter', '/auth/twitter', class: "btn blue" %>
  <%= link_to 'Login with GitHub', '/auth/github', class: "btn black" %>
</div>
