<h1>Memo List</h1>
<%= link_to 'memos/new', new_memo_path %>

<% @memos.each do |memo| %>
  <div class="card">
    <div class="card-content">
      <span class="card-content">
        <%= link_to memo.title, memo_path(memo) %>
      </span>
    </div>
  </div>
<% end %>
